# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.eggs/
*.whl

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
*.manifest
*.spec

# Unit test / coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Project-specific
outputs/